<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Χορεύεις και πατείς στη γη και το καταλαβαίνει</string>
		<string>πως μερακλήδικο κορμί απο πάνω τζι διαβένει!</string>
		<string>Xorw</string>
		<string>FirstName LastName</string>
	</array>
	<array>
		<string>Ποτέ δυο ξύλα του βουνού δε μοιάζει το ένα στο άλλο</string>
		<string>το ένα εικόνα γίνεται. και κάρβουνο το άλλο</string>
		<string>Agaph</string>
		<string>Name1</string>
	</array>
	<array>
		<string>Ζωή δεν είναι να ξυπνάς, να τρως να θέτεις πάλι</string>
		<string>ζωή &apos;ναι να &apos;σαι ξυπνητός, οντέ κοιμούνται οι άλλοι</string>
		<string>Ksenuxtia</string>
		<string>FirstName LongLastName</string>
	</array>
	<array>
		<string>Aγαπα με να σ&apos;αγαπω θελε με να σε θελω</string>
		<string>γιατί θαν&apos;ερθει ένας καιρός να θές και να μην θέλω</string>
		<string>Agaph</string>
		<string>LongFirstName LongLastName</string>
	</array>
	<array>
		<string>Δεν είναι μόνο η ζωή ύπνο δουλειά παράδες</string>
		<string>θέλει ξενύχτια και ποτό χορό και μαντινάδες!</string>
		<string>Ksenuxtia</string>
		<string>Name2</string>
	</array>
	<array>
		<string>Η μερακλινα κοπελιά κάνει σαν άλλες δέκα</string>
		<string>και είναι μεγάλο χάρισμα να το χει μια γυναικα</string>
		<string>Kriti</string>
		<string>Name Lname</string>
	</array>
	<array>
		<string>Γυναίκα που &apos;ναι όμορφη είναι σωστό καμάρι</string>
		<string>μα αν έχει και καλή καρδιά έχει διπλή τη χάρη</string>
		<string>Agaph</string>
		<string>Name3</string>
	</array>
</array>
</plist>
